<!DOCTYPE html>

<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Select count Cars</title>
</head>
<body>
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Model</th>
            <th scope="col">Series</th>
            <th scope="col">Color</th>
        </tr>
    </thead>
    <tbody>
    <tr th:each="car: ${cars}">
        <td th:text="${car.getModel()}"/>
        <td th:text="${car.getSeries()}"/>
        <td th:text="${car.getColor()}"/>

    </tr>
    </tbody>
</table>


</body>
</html>